$maincColorText: #3a3a3a;
$mainBackColor: #fbfcff;
$buttonMainColor: #58b4ae;
$buttonSecondaryColor: #ffff;
$buttonBorderRadius: 4px;
$cardBorderRadius: 8px;
$headingFontSizeSecondary: 28px;
$headingFontSizeMain: 48px;
$buttonWidth: 125px;
$buttonHeight: 48px
