.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  color: $main-color-text;

  background-color: $main-back-color;
  &-loading {
    opacity: 0.4;
  }
}
