.card-confirmation-loading {
  opacity: 0.4;
}
.card-confirmation {
  display: flex;
  flex-direction: column;
  padding: 28px 32px;

  box-shadow: $card-box-shadow;
  border-radius: $card-border-radius;
  

  &__heading {
    margin-top: 0;
    margin-bottom: 36px;

    font-size: $heading-font-size-main;
    font-weight: $heading-font-weight;
    line-height: 56px;
  }

  &__invoise {
    @include flex-space-bw;

    font-size: $main-font-size;
    line-height: 18.75px;
  }

  &__withdraw {
    @include flex-space-bw;

    margin-bottom: 52px;
    font-size: $main-font-size;
    line-height: 18.75px;
  }

  &__button {
    @include flex-space-ar;

    &-cancel {
      width: $button-width;
      height: $button-height;
      margin-right: 24px;
      margin-left: 60px;

      cursor: pointer;

      line-height: 16px;

      
      border-radius: $button-border-radius;
      border: $border-in-white-button;

      &:hover {
        background-color: $button-main-color;
        color: $button-secondary-color;
      }
    }

    &-confirme {
      width: $button-width;
      height: $button-height;
      margin-right: 60px;

      color: $button-secondary-color;
      line-height: 16px;

      cursor: pointer;

      background-color: $button-main-color;
      border-radius: $button-border-radius;
      &:hover {
        background-color: $button-secondary-color;
        color: $button-main-color;
        border: $border-in-white-button;
      }
    }
  }
}
