.card-confirmation-loading {
  opacity: 0.4;
}
.card-confirmation {
  display: flex;
  flex-direction: column;
  padding: 28px 32px;
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  

  &__heading {
    margin-top: 0;
    margin-bottom: 36px;

    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }

  &__invoise {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18.75px;
  }

  &__withdraw {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 18.75px;
  }

  &__button {
    display: flex;
    justify-content: space-around;

    &-cancel {
      width: 125px;
      height: 48px;
      margin-right: 24px;
      margin-left: 60px;

      line-height: 16px;

      
      border-radius: 4px;
      border: 1px solid #58B4AE;

      &:hover {
        background-color: #58B4AE;
        color: #FFFFFF;
      }
    }

    &-confirme {
      width: 125px;
      height: 48px;
      margin-right: 60px;

      color: #FFFFFF;
      line-height: 16px;

      background-color: #58B4AE;
      border-radius: 4px;
      &:hover {
        background-color: #FFFFFF;
        color: #58B4AE;
        border: 1px solid #58B4AE;
      }
    }
  }
}
