.success-page {
  @include centered-column;

  padding: 37px 74px 28px;

  text-align: center;

  box-shadow: $card-box-shadow;
  border-radius: $card-border-radius;
  

  &__heading {
    margin-top: 33px;

    font-size: $heading-font-size-secondary;
    font-weight: $heading-font-weight;
    line-height: 32px;
    
  }

  &__text {
    margin-top: 8px;

    font-size: $main-font-size;
    font-weight: 400;
    line-height: 24px;

    color: $main-color-text;
    
  }

  &__button {
    margin-top: 44px;
    padding: 16px 44px;
    width: $button-width;
    height: $button-height;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: $heading-font-weight;
    color: $button-secondary-color;
    
    background-color: $button-main-color;
    border-radius: $button-border-radius;
    &:hover {
      background-color: $button-secondary-color;
      color: $button-main-color;
      border: $border-in-white-button;
    }
  }
}
