.success-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 37px 74px 28px;

  text-align: center;

  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  

  &__heading {
    margin-top: 33px;

    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    
  }

  &__button {
    margin-top: 44px;
    padding: 16px 44px;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #FFFFFF;
    
    background-color: #58B4AE;
    border-radius: 4px;
  }
}
