.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 100vh;
  background-color: #FBFCFF;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  
}


.card {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-right: 32px;
}
.card:last-child {
  margin-left: 0;
}

.card__heading {
  font-weight: 700;
  font-size: 48px;
  margin: 28px 0 48px;
}


.form-groop {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}
.card__select {
  width: 313px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #CBCBCB;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 18px;
}
.card__input {
  width: 313px;
  height: 46px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  border: 1px solid #CBCBCB;
}

.button-container {
  margin-bottom: 28px;
  
}
.button {
  background-color: #58B4AE;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  padding: 16px 32px;
  color: #FBFCFF;
}
.button:hover {
  background-color: #9BD2CE;


}